{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sudoku</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'solver/styles.css' %}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'solver:index' %}">Stardard Sudoku</a></li>
                <li><a href="{% url 'solver:x-sudoku' %}">X-Sudoku</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>